/* Картинки без подписей внутри p */
img {
    max-width: 100% !important;
}

.contents__header {
    padding: 0 0 12px;
    font-weight: 500;
    font-size: 18px;
    color: #000;
}


.contents__list ol {
    margin-left: 20px;
}

.contents__list .level-2 ol,
.contents__list .level-3 ol {
    margin-left: 0;
}

a.contents__title {
    display: block;
    text-decoration: none;
}

.button {
    margin-bottom: 20px;
    display: inline-block;
    vertical-align: top;
    height: 43px;
    line-height: 43px;
    width: 140px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    border-radius: 2px;
    margin-right: 16px;
}

.appStore {
    position: relative;
    /* width: 141px; */
    height: 43px;
    background-position: center center;
    background-repeat: no-repeat;
    background: #022437;
    background: -moz-linear-gradient(left, #022437 0%, #00403b 100%);
    background: -webkit-linear-gradient(left, #022437 0%, #00403b 100%);
    background: -webkit-gradient(linear, left top, right top, from(#022437), to(#00403b));
    background: -o-linear-gradient(left, #022437 0%, #00403b 100%);
    background: linear-gradient(to right, #022437 0%, #00403b 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#022437', endColorstr='#00403b',GradientType=1 );
}

.appStore svg {
    display: inline-block;
    width: 100%;
    height: 100%;
}



.googlePlay {
    position: relative;
    /* width: 159px; */
    height: 43px;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: -webkit-gradient(linear, 0 0, 156 0, color-stop(0.019, #49a275), to(#46be79));
    background-image: -webkit-linear-gradient(360deg, #49a275 1.9%, #46be79);
    background-image: -moz-linear-gradient(360deg, #49a275 1.9%, #46be79);
    background-image: -o-linear-gradient(360deg, #49a275 1.9%, #46be79);
    background-image: -webkit-gradient(linear, left top, right top, color-stop(1.9%, #49a275), to(#46be79));
    background-image: -webkit-linear-gradient(left, #49a275 1.9%, #46be79);
    background-image: -o-linear-gradient(left, #49a275 1.9%, #46be79);
    background-image: linear-gradient(90deg, #49a275 1.9%,#46be79);
}
.googlePlay svg{
    width: 100%;
}


.button-play {
    background-image: linear-gradient(90deg, #0D679C 0%, #0A4C97 98%);
    padding-left: 20px;
    padding-right: 20px;
}



.game-download-list{
    background-image: linear-gradient(90deg, #0D679C 0%, #0A4C97 98%);
}
.game-download-list:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    border: 2px solid #2f7796;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: -2px;
    background-image: url(../images/icon-download.svg);
    background-repeat: no-repeat;
    background-position: center center;
}

iframe {
    max-width: 100%;
}

.dnone {
    display: none !important;
}

.socials__item {
    padding: 6px 12px 6px 13px;
}
.socials__item--twi {
    background: #1b95e0;
}

.socials__item span {
    font-size: 13px;
}

.socials__item--twi i {
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    height: 14px;
    margin-top: -2px;
}
.text-author-name{
    color: #000;
    text-decoration: none;
}

.material-top__title {
    font-size: 20px;
    line-height: 28px;
    padding: 0 75px 0px 13px;
    margin-bottom: 19px;
}

.material-top__title h1{
    margin-bottom: 0;;
}
.gamepage-block__date {
    clear: both;
}

.highlighted-t {
    display: inline;
}
.highlighted__inner {
    /* padding-top: 6px;
    padding-bottom: 6px; */
    display: inline;
    background: #fff794;
}

.video-wrap .image-caption{
    padding: 15px 11px;
}

.page-browsing__left, .page-browsing__right {
    max-width: 50%;
}

.pagingInfo{
    z-index: 3;
}
.material-slider-wrap--en .pagingInfo{
    margin-left: -74px;
}
.material-slider-wrap--en .material-slider__link{
    margin-left: -12px;
}
.material-count span:before{
    content: "";
    display: inline-block;
    background: url(../img/svg/pyblikacii-gr.svg) no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    width: 15px;
    height: 18px;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -10px;
}

.material-count__icon {
    display: none;
}
.result-item__link {
    padding: 10px 40px 10px 10px;
}

p .button{
    margin-bottom: 0;
}


.page-search__header :focus::-webkit-input-placeholder {
color: #187fd5; }

.page-search__header :focus::-moz-placeholder {
color: #187fd5; }

.page-search__header :focus:-moz-placeholder {
color: #187fd5; }

.page-search__header :focus:-ms-input-placeholder {
color: #187fd5; }

.text-section-title{
    margin-bottom: 20px;
    font-weight: 600;
}

.text-title-date-silver {
    color: #000;
    margin: -16px -11px 0 -11px;
    background-color: #ebeef0;
    padding: 6px 11px;
    min-width: 100%;
    margin-bottom: 20px;
    font-size: 13px;
}
.text-title-date-silver .article-top__reviews {
    margin-left: 6px;
}
.contents-inner.active + .contents__list {
    padding-top: 25px;
}

.level__title.scroll-active{
    font-weight: 500;
}
.level-2 ol{
    font-size: 13px;
}
.contents__list ol li {
    margin-bottom: 8px;
}
.contents__header {
    padding: 0 0 10px;
}
.contents__title,
.level__title,
.level-2,
.level-3,
.contents__list ol,
.contents__link{
    margin-bottom: 10px;
}
.contents__list ol li:before{
    left: 20px;
}
.contents__list ol:before {
    left: 29px;
}
.list-game__title{
    background-color: #333;
    color: #fff;
    padding: 12px 0;
    margin-bottom: 20px;
}
.list-game__title h1{
    margin-bottom: 0;
}
.game-item--similar{
    position: relative;
    margin-bottom: 30px;
}

.game-item--similar .game-img{
    margin-bottom: 0;
}
.game-item--similar .game-info{
    position: absolute;
    bottom: 0;
    left: 0;
    color: #FFF;
    padding-left: 14px;
    padding-right: 14px;
    z-index: 2;
    width: 100%;
}
.gamepage-similar-unit-image-filter {
    border-radius: 2px;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
}

.game-item--similar .game-date {
    color: #fff;
}
.game-item--similar .rating{
    font-size: 20px;
    right: 10px;
}
.game-item--similar .material-count{
    color: #fff;
}
.game-item--similar .material-count:before {
    content: "";
    display: inline-block;
    background: url(../img/svg/pyblikacii.svg) no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    width: 15px;
    height: 18px;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -10px;
}
.game-item--card .material-count:before {
    content: "";
    display: inline-block;
    background: url(../img/svg/pyblikacii.svg) no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    width: 15px;
    height: 18px;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -10px;
}
.material-top {
    min-height: 226px;
}

.game-top-date, .game-top-platform {
    font-size: 13px;
}

.game-top-platform {
    color: #303435;
}

.table-wrapper {
    overflow-x: auto;
    max-width: 100%;
}

.gamepage-info {
    word-break: break-word;
}

.layout--cookie .page-header{
    top: 73px;
}
.layout--cookie .page-content {
    padding-top: 118px;
}
.layout--cookie .menu {
    padding-top: 125px;
}
.layout--cookie .page-search {
    top: 73px;
}
.layout--cookie .contents {
    top: 118px!important;
    padding-top: 0;
}

.text-author{
    padding-bottom: 0;
    border-bottom: none;
}

.layout--contents-fonts .content{
    padding-top: 40px;
}

.content-img__item {
    margin: 0 -11px;
}

.slider__img {
    position: relative;
}

body.fixed {
    overflow: hidden;
    position: fixed;
    width: 100%;
}

.result .highlighted {
    padding-right: 0;
    padding-left: 0;
}

ul li:before {
    top: 10px;
}

.page-header ::-webkit-input-placeholder {
    color: #187fd5;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease; }
  .page-header ::-moz-placeholder {
    color: #187fd5;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease; }
  .page-header :-moz-placeholder {
    color: #187fd5;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease; }
  .page-header :-ms-input-placeholder {
    color: #187fd5;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease; }
  .page-header :focus::-webkit-input-placeholder {
    color: #187fd5; }
  .page-header :focus::-moz-placeholder {
    color: #187fd5; }
  .page-header :focus:-moz-placeholder {
    color: #187fd5; }
  .page-header :focus:-ms-input-placeholder {
    color: #187fd5 }

table th, table td{
    padding: 16px 10px;
}

.js-reframe {
    margin-bottom: 22px;
    overflow: hidden;
}
.cookies {
    min-height: 73px;
}

.socials__item {
    margin-right: 6px;
}
.socials__item:last-child{
    margin-right: 0;
}

.game-download-list.full {
    width: auto;
    padding: 0 10px;
}

.reddit-embed {
    margin-bottom: 22px;
}

.top-logo {
    margin-left: -30px;
}
.page-footer__link {
    margin-right: 0;
    display: block;
    margin-bottom: 10px;
}
.page-footer__link:last-child{
    margin-bottom: 0;
}
.page-footer__link:not(:first-child):before {
    display: none;
}
.page-footer__bottom {
    padding-top: 25px;
}
.image-caption {
    word-break: break-word;
}

/* .top-logo__icon{
    background: url(../img/svg/top_logo_new.svg) center no-repeat;
    width: 100px;
    height: 30px;
    -webkit-background-size:cover;
    background-size:cover;
} */
.bottom-logo {
    background: url(../img/svg/bottom_logo_new.svg) center no-repeat;
}

.paging-fullwidth .paging__wrap{
    padding: 0 8px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.paging-fullwidth .paging__link{
    flex-grow: 1;
}

.slider__img {
    background-size: contain;
    background-position: center top;
}

article .article__content p,
article .article__content li,
article .article__content div:not([class]) {
    text-align: left !important;
}

.article__img img {
    width: 100%;
}
.page-header--cookie+.menu+.wrapper .page-content,
.page-header--cookie+.contents+.menu+.wrapper .page-content{
    padding-top: 119px;
}


.page-header--cookie+.contents+.menu .menu__list{
    padding-top: 133px;
}

.page-header--cookie+.menu{
    padding-top:73px;
}

.page-header--cookie.active{
    background: transparent;
    width: 100%;
    border-bottom: 0;
}

.page-header--cookie.active>.container-fluid{
    background: #024F9B;
    width: 290px;
    margin: 0;
    border-bottom: 2px solid rgba(255, 255, 255, 0.15);
}
.cookies {
    color: #000;
}
