// Core variables and mixins

@import "components/vars";

@import "bootstrap/normalize";
@import "bootstrap/grid";

@import "components/body";



// a[href^="http://maps.google.com/maps"]{display:none !important}
// a[href^="https://maps.google.com/maps"]{display:none !important}
// .gmnoprint a, .gmnoprint span, .gm-style-cc {
//     display:none;
// }
// .gmnoprint div {
//     background:none !important;
// }


@import "components/header";


.layout{
	display: table;
	table-layout: fixed;
  	height: 100%;
  	width: 100%;
}



.wrapper{
	display: table-row;
	height: 100%;
}
.container-fluid{
	max-width: 600px;
	// padding: 0;
	position: relative;
	width: 100%;
}

.page-content{
	display: table-cell;
	height: 100%;
	padding: 56px 0 30px;
}

.content-wrapper{
	display: flex;
}

.content{
	//background: #fff;
	flex:1;
	//max-width: calc(100% - 323px);
	// padding-top: 24px;
	// padding-left: 16px;
	// padding-right: 16px;
}



@import "components/footer";




@import "components/media";





