// Core variables and mixins

@import "components/vars";

@import "bootstrap/normalize";
@import "bootstrap/grid";

@import "components/body";



// a[href^="http://maps.google.com/maps"]{display:none !important}
// a[href^="https://maps.google.com/maps"]{display:none !important}
// .gmnoprint a, .gmnoprint span, .gm-style-cc {
//     display:none;
// }
// .gmnoprint div {
//     background:none !important;
// }


@import "components/header";


.layout{
	display: table;
	table-layout: fixed;
  	height: 100%;
  	width: 100%;
}



.wrapper{
	display: table-row;
	height: 100%;
}
.container-fluid{
	max-width: 600px;
	// padding: 0;
	position: relative;
	width: 100%;
}

.page-content{
	display: table-cell;
	height: 100%;
	padding: 52px 0 30px;
	>.container-fluid{
		padding-left: 0;
		padding-right: 0;
	}
}

.content-wrapper{
	display: flex;
}

.material-top {
    min-height: 200px;
    color: #fff;
    position: relative;
    display: flex;
    align-items: flex-end;

}
.material-top__bg {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;

    position: absolute;
    overflow: hidden;
    width: 100%;
    &:after{
    	content: "";
	    display: block;
	    width: 100%;
	    height: 100%;
	    background: rgba(0, 0, 0, 0.4);
	    left: 0;
	    top: 0;
	    position: absolute;
    }
}

.material-top__title{
	font-size: 18px;
	line-height: 22px;
	font-weight: 500;
	position: relative;
	z-index: 1;
	padding: 0 75px 25px 13px;
	width: 100%;
	.rating{
		position: absolute;
		right: 13px;
    	top: -7px;
		width:36px;
		height: 36px;
		line-height: 36px;
		font-size: 20px;
	}
}

.content {
    background: #fff;
        padding: 16px 11px;
}

.article-top{
	font-size: 13px;
	margin: 0 0 15px 0;
	display: flex;
}
.article-top__wrap{
	display: flex;
	align-items:center;
}

.article-top__author{
	text-decoration: none;
	color: #000;
	margin-bottom: 10px;
	display: inline;
}

.article-top__date{
	color: #909090;
	margin-right: 20px;
}

.article-top__reviews{
	color: #909090;
	position: relative;
	padding-left: 13px;
	text-decoration: none;
	&:before{
		content: "";
		width: 10px;
		height: 9px;
		background: url(../img/svg/comment_icon.svg) no-repeat;
		position: absolute;
		left: 0;
		top: 50%;
		transform: translateY(-50%);
	}
}

.highlighted{
	border: 1px solid #FBF3B1;

	background: #FFF9E0;
	padding-left: 3px;
	padding-right: 3px;
}

.highlighted-single{
	border: 1px solid #F6E54A;
	box-shadow:         1px 1px 0px 0px rgba(246, 229, 74, 0.75);
	border-radius: 3px;
	padding: 1px 4px;
}

.text-highlighted-item {
    margin-bottom: 20px;
}

.image-item{
	margin: 0 -11px 26px;
	img{
		max-width: 100%;
		height: auto;
		display: block;
	}
}

.highlighted-block{
	background: #FFF9E0;
	border-left: 2px solid #F3DD0E;
	padding: 20px 12px 20px 9px;
	margin: 0 -11px 15px;
	p{
		&:last-child{
			margin-bottom: 0;
		}
	}
}

.highlighted-text{
	    border-left: 2px solid #F3DD0E;
    padding: 0 9px 0 11px;
    margin-bottom: 20px;
    font-weight: 500;
	p{
		&:last-child{
			margin-bottom: 0;
		}
	}
}

.content-img {
    margin-bottom: 18px;
    img{
		max-width: 100%;
		height: auto;
		display: block;
    }
}
.media__title{
	font-size: 13px;
    color: #333;
    padding: 8px 0 10px;
}

.video-wrap{
  margin: 0 -11px 25px;}

.video__item {
  height: 180px;
  width: 100%;
  position: relative }
  .video__item iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    border: 0;
    left: 0; }

.video__poster {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 2;
}

.video__play {
    display: inline-block;
    width: 58px;
    height: 58px;
    border: 2px solid #fff;
    position: absolute;
    left: 50%;
    margin-left: -29px;
    top: 50%;
    margin-top: -29px;
    z-index: 3;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: rgba(51, 51, 51, 0.4);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.video__play:before {
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 11px 0 11px 20px;
    border-color: transparent transparent transparent #ffffff;
    position: absolute;
    left: 50%;
    margin-left: -6px;
    top: 50%;
    margin-top: -11px;
}
.video__play:hover {
    border: 2px solid rgba(11, 128, 236, 0.6);
}


.image-caption{
	padding: 15px 0;
	margin-bottom: 15px;
	border-bottom: 1px solid #C9C9C9;
	font-size: 13px;
}

.image-variants{
	margin-bottom: 23px;
	border-bottom: 1px solid #C9C9C9;
	img{
		max-width: 100%;
		height: auto;
		display: block;
	}
	.media__title {
	    padding: 10px 0;
	    color: #909090;
	}
}

.image-variants--title{
	border-bottom: 0;
	.image-variants__wrap{
		display: flex;
	}
	.image-variants__item{
		position: relative;
		&:after{
			content: "";
			display: inline-block;
			width: calc(100% - 8px);
			height: 1px;
			background: #C9C9C9;
			position: absolute;
			bottom: 0;
			left: 0;
		}
	}
}

.image-variants__wrap {
    margin-right: -8px;
    overflow: hidden;
}

.image-variants__item {
    padding-right: 8px;
    vertical-align: middle;
    float: left;
    max-width: 50%;
}


.block-socials{
	border-top: 1px solid #C9C9C9;
    border-bottom: 1px solid #C9C9C9;
    padding: 19px 0 23px;
    margin-bottom: 20px;
    .socials{
    	margin-bottom: 0;
    }
}


.block-socials-like{
	margin-bottom: 32px;
}

.block-socials-like__answer{
	font-size: 14px;
	font-weight: 500;
	margin-bottom: 6px;
}

.block-socials-like__btn{
	display: inline-block;
	border-radius: 4px;
	text-decoration: none;
	font-weight: 500;
	    padding: 7px 16px;
}

.block-socials-like__btn--yes{
	background: linear-gradient(90deg, #024A9A 0%, #00669E 100%);
	margin-right: 19px;
	color: #fff;
	transition: all 0.3s ease;
	&:hover{
		background: linear-gradient(90deg,#0153aa 0%,#016aad 100%);
	}
	.block-socials-like__count{
		color: #fff;
	}
}
.block-socials-like__btn--no{
	background-color: #E6EAEC;
	color: #333;
	.block-socials-like__count{
		color: #333;
	}
}

.block-socials-like__count{
	font-size: 14px;
	display: inline-block;
	margin-right: 7px;
	font-weight: 300;
}

.socials{
	margin-bottom: 20px;
	    display: flex;
    flex-wrap: wrap;
}

.socials__item {
    // display: inline-block;
    // vertical-align: top;
    margin-right: 7px;
    padding: 4px 4px 4px 7px;

    color: #fff;
    border-radius: 3px;
    text-decoration: none;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    &:last-child{
    	margin-right: 0;
    }
    img{
		display: block;
		max-width: 100%;
		height: auto;
		max-height: 100%;
    }
    span{
		padding-left: 1px;
		font-size: 12px;
		display: inline-block;
		vertical-align: middle;
		margin-left: 5px;
		&.count{
			font-size: 11px;
			color: rgba(255,255,255,.5);
			padding-left: 3px;
			padding-right: 2px;
			    margin-top: 1px;

		}
    }
    &.socials__item--vk {
	    background: #5f84a6;
	    &:hover{
	    	background: #72a0ca;
	    }
	    i{
			width: 12px;
			height: 8px;

	    }
	}
	&.socials__item--reddit {
	    background: #ff4500;
	    &:hover{
	    	background: #ff2500;
	    }
	    i{
	    	width: 19px;
    		height: 18px;
	    }
	}
	&.socials__item--fb {
	    background: #3c5a96;
	    &:hover{
	    	background: #4a6eb6;
	    }
	    i{
	    	width: 6px;
    		height: 13px;
	    }
	}
	&.socials__item--tw {
	    background: #64a9dc;
	    &:hover{
	    	background: #6fbbf4;
	    }
	    i{
	    	width: 13px;
    		height: 12px;
	    }
	}
}

.article{
	margin-bottom: 8px;
	background: #fff;
	padding: 9px 12px 0;
	h2{
		margin-bottom: 9px;
	}
}

.article__link{
	color: inherit;
    text-decoration: none;
}

.article__img{
	margin: 0 -12px;
	padding-top: 8px;
	display: block;
	img{
		max-width: 100%;
		height: auto;
		display: block;
	}
}





.article__label{
	margin-right: 8px;
    padding: 7px 11px;
    margin-left: -12px;
    text-decoration: none;
    color: inherit;
	&.green-scqeme{
		background: #DCF6E1;
	}
	&.yellow-scqeme{
		background: #F7F7D1;
	}
	&.blue-scqeme{
		background: #DCECF6;
	}
}

.article__txt{
	padding-bottom: 8px;
}





.transition{
	margin: 37px 0 25px;
	display: flex;
	justify-content:center;
	align-items:center;
}

.transition__link{
	padding: 6px 5px;
	background: #fff;
	transition: all 0.3s ease;
	border-radius: 5px;
	border: 1px solid #007FE4;
	text-decoration: none;
	width: 200px;
	text-align: center;
	margin: 0 8px;
	color: #333333;
	font-size: 14px;
	span{
		display: inline-block;
		position: relative;
	}
	&:hover{
		background: #007FE4;
		color: #fff;
	}
}

.transition__link--left{
	span{
		padding-left: 33px;
		&:before{
			content: "";
			width: 30px;
			height: 12px;
			left: -3px;
    		top: 2px;
			background: url(../img/svg/a_left.svg) center no-repeat;
			background-size: contain;
			display: inline-block;
			position: absolute;
		}
	}
	&:hover{
		span{
			&:before{
				background: url(../img/svg/a_left-h.svg) center no-repeat;
				background-size: contain;
			}
		}
	}
}

.transition__link--right{
	span{
		padding-right: 33px;
		&:after{
			content: "";
			width: 30px;
			height: 12px;
			right: -3px;
			top: 2px;
			background: url(../img/svg/a_right.svg) center no-repeat;
			background-size: contain;
			display: inline-block;
			position: absolute;
		}
	}
	&:hover{
		span{
			&:after{
				background: url(../img/svg/a_right-h.svg) center no-repeat;
				background-size: contain;
			}
		}
	}
}


.paging{
	margin: 25px 0 10px;
	display: flex;
	justify-content:center;
}

.paging__link{
	    padding: 9px 6px 7px 6px;
	display: flex;
	justify-content:center;
	align-items:center;
	text-decoration: none;
	color: #333333;
	border: 1px solid #C9C9C9;
	background: #F0F0F0;
	font-size: 14px;
	margin-right: -1px;
	transition: background 0.3s ease;
	min-width: 33px;
	line-height: 1;
	&:last-child{
		margin-right: 0;
	}
	&.active,
	&:hover{
		background: #fff;
	}
	&.paging__link--prev{
		border-top-left-radius: 5px;
		border-bottom-left-radius: 5px;
		background: #fff url(../img/svg/p-prev.svg) center no-repeat;
	}
	&.paging__link--next{
		border-top-right-radius: 5px;
		border-bottom-right-radius: 5px;
		background: #fff url(../img/svg/p-next.svg) center no-repeat;
	}
}


.page-title{
	background: #fff;
	padding: 15px 12px 8px;
	h1{
		margin-bottom: 0;
	}
}

.page-browsing{
	// display: flex;
	// justify-content:space-between;
	display: block;
	margin: 15px 0 30px;
	overflow: hidden;
}

.page-browsing__top{
	display: block;
	position: relative;
	color: #333333;
	font-size: 13px;
	margin-bottom: 10px;
}


.page-browsing__right{
	text-decoration: none;
	max-width: 235px;
	text-align: right;
	float: right;
	display: block;
	    color: #224e94;
	.page-browsing__top{
		&:before{
			content: "";
			right: 0;
			background: url(../img/svg/p_right.svg) center no-repeat;
			background-size: contain;
			display: inline-block;
			width: 33px;
    		height: 16px;
			margin-top: 1px;
		}
	}
}

.page-browsing__left{
	text-decoration: none;
	max-width: 235px;
	text-align: left;
	display: block;
	float: left;
	    color: #224e94;
	.page-browsing__top{
		&:before{
			content: "";
			left: 0;
			background: url(../img/svg/p_left.svg) center no-repeat;
			background-size: contain;
			display: inline-block;
			width: 33px;
    		height: 16px;
			margin-top: 1px;
		}
	}
}

.page-browsing__title{
    font-size: 13px;
    margin-bottom: 12px;
        color: #224e94;
    /* font-weight: 500; */
    line-height: 1.2;
}

.page-browsing__date{
	font-size: 13px;
	color: #909090;
}


.article-items{
	margin-bottom: 31px;
}

.article-items__title{
	border-bottom: 1px solid  #C9C9C9;
	padding-bottom: 10px;
	margin-bottom: 17px;
	h2{
		margin-bottom: 0;
	}
}

.article__items__link{
	display: block;
	margin-bottom: 17px;
	text-decoration: none;
	color: inherit;
	h3{
		margin-bottom: 2px;
	}
}

// .game{
// 	padding-top: 9px;
// }

.game-item {
    padding: 0 11px 0;
        margin-bottom: 8px;
    background: #fff;
}

.game-top{
	    padding: 23px 16px 15px 16px;
}

.game-top__links{
	display: flex;
	align-items: center;
}

.game-top__item{
	//margin-right: 25px;
	&:after{
		content: "/";
		display: inline-block;
		color: #909090;
		font-size: 18px;
		margin: 0 8px 0 4px;
	}
	&:last-child{
		margin-right: 0;
		&:after{
			display: none;
		}
	}
	a{
		color: #007FE4;
		font-size: 24px;
		font-weight: 500;
	}
	h1{
		margin-bottom: 0;
		margin-top: -5px;
	}

}



.game-item__inner{
	background: #fff;
	//padding: 8px 16px 16px;
	height: 100%;
}


.game-link{
	color: inherit;
	display: block;
	text-decoration: none;
}

.game-info{
	padding: 7px 0px 22px;
}

.game-img{
	overflow: hidden;
	height: 180px;
	margin: 0 -11px 10px;
	position: relative;
}

.game-img__inner{
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	transition: all 0.3s ease-in-out;
	img{
		max-width: 100%;
		height: auto;
	}
}

.game-platform{
    font-size: 13px;
    margin-bottom: 15px;
    color: #909090;
}
.game-date{
	font-size: 13px;
	color: #333;
	span{
		color: #909090;
		 margin-right: 3px;
	}
}

.game-title{
	padding-right: 77px;
	position: relative;
	margin-bottom: 9px;
	.rating{
	    position: absolute;
	    right: 12px;
	    top: -3px;
	    width: 44px;
	    height: 36px;
	    line-height: 36px;
	    font-size: 24px;

	}
}

.game-title__txt{
	font-size: 18px;
	line-height: 1.2;
	font-weight: 500;
}

.game-txt{
    font-size: 16px;
    margin-bottom: 16px;
    line-height: 1.4;
}


.rating-8, .rating-9, .rating-10 {
  background-color: #7bba3a; }

/****************rating 7-7.5**********************/
.rating-7 {
  background-color: #97c948; }

/****************rating 6-6.5**********************/
.rating-6 {
  background-color: #b2d845; }

/****************rating 5-5.5**********************/
.rating-5 {
  background-color: #dbeb40; }

/****************rating 4-4.5**********************/
.rating-4 {
  background-color: #faeb3c; }

/****************rating 3-3.5**********************/
.rating-3 {
  background-color: #ffd039; }

/****************rating 2-2.5**********************/
.rating-2 {
  background-color: #ff9e38; }

/****************rating 0-1.5**********************/
.rating-0, .rating-1 {
  background-color: #f65636; }

.rating {
  width: 42px;
  height: 42px;
  line-height: 42px;
  text-align: center;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  font-size: 20px;
  font-weight: 500;
  color: #000; }


.contents {
    text-align: left;
    position: fixed;
    top: 0;
    width: 100%;
    padding-top: 52px;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    &.active{
    	box-shadow: 0px 10px 19px -10px rgba(0,0,0,0.5);
    }
}

.contents-wrapper {
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index: 5;
}

.contents-inner {
    padding: 8px 0;
    background: rgba(255,255,255,0.8);
    -moz-transition: none;
    -o-transition: none;
    -webkit-transition: none;
    transition: none;
    border-top: 1px solid transparent;
    &.active{
		width: 100%;
		z-index: 5;
		// position: fixed;
		//border-top: 0;
		background-color: #003384;
		background-image: -webkit-gradient(linear, left top, right top, from(rgba(9, 142, 220, 0.25)), to(rgba(0, 255, 234, 0.25)));
		background-image: -webkit-linear-gradient(left, rgba(9, 142, 220, 0.25) 0%, rgba(0, 255, 234, 0.25) 100%);
		background-image: -o-linear-gradient(left, rgba(9, 142, 220, 0.25) 0%, rgba(0, 255, 234, 0.25) 100%);
		background-image: linear-gradient(to right, rgba(9, 142, 220, 0.25) 0%, rgba(0, 255, 234, 0.25) 100%);
		+.contents__list {
		    opacity: 1;
		    visibility: visible;
		    pointer-events: all;
		    max-height: inherit;
		    padding-bottom: 10px;
		    -moz-transition: max-height 1s ease, opacity 0.3s ease;
		    -o-transition: max-height 1s ease, opacity 0.3s ease;
		    -webkit-transition: max-height 1s ease, opacity 0.3s ease;
		    transition: max-height 1s ease, opacity 0.3s ease;
		    padding-top: 12px;
		    -moz-transition: padding 0.3s ease;
		    -o-transition: padding 0.3s ease;
		    -webkit-transition: padding 0.3s ease;
		    transition: padding 0.3s ease;
		}
    }
}

.nav-up .contents {
    padding-top: 0;
}

.contents-inner__link {
    display: inline-block;
    font-size: 15px;
    text-decoration: none;
    padding-left: 31px;
    position: relative;
    color: #23527c;
    &.active{
    	color: #fff;
    	span{
    		background: #003384;
    		border: 3px solid #003384;
    		&:before,
    		&:after{
				background-color: #fff;
    		}
    		&:before{
    			transform: translateY(2px) rotate(45deg);
    		}
    		&:after{
    			    transform: translateY(-2px) rotate(-45deg);
    		}
    	}
    }
}

.contents-inner__link span {
    display: block;
    border: 3px solid #e0e0e0;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -14px;
    width: 26px;
    height: 26px;
    background-color: #fff;
    transition: all .3s ease;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}


.contents-inner__link span:before {
    top: 7px;
    display: block;
    width: 12px;
    height: 2px;
    background-color: #003384;
    transition: all .3s ease;
    position: absolute;
    content: "";
    left: 50%;
    margin-left: -6px;
}

.contents-inner__link span:after {
    top: 11px;
    display: block;
    width: 12px;
    height: 2px;
    background-color: #003384;
    transition: all .3s ease;
    position: absolute;
    content: "";
    left: 50%;
    margin-left: -6px;
}

.contents-fonts {
    float: right;
    margin-top: -3px;
}

.contents-fonts__down {
    display: inline-block;
    vertical-align: middle;
    border: 3px solid #e0e0e0;
    width: 26px;
    height: 26px;
    background: #fff url(../img/svg/down.svg) center no-repeat;
    transition: all .3s ease;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.contents-fonts__up {
    display: inline-block;
    vertical-align: middle;
    border: 3px solid #e0e0e0;
    width: 26px;
    height: 26px;
    background: #fff url(../img/svg/up.svg) center no-repeat;
    transition: all .3s ease;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    margin-left: 10px;
}


.contents__list {
    background: #fff;
    -moz-transition: none;
    -o-transition: none;
    -webkit-transition: none;
    transition: none;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    max-height: 0;
        -moz-transition: max-height 1s ease, opacity 0.3s ease,padding 0.3s ease;
    -o-transition: max-height 1s ease, opacity 0.3s ease,padding 0.3s ease;
    -webkit-transition: max-height 1s ease, opacity 0.3s ease,padding 0.3s ease;
    transition: max-height 1s ease, opacity 0.3s ease,padding 0.3s ease;
    font-size: 15px;
    ol{
    	margin-bottom: 21px;
    	font-size: 15px;
    	position: relative;
    	&:before{
			content: "";
			display: inline-block;
			width: 1px;
			height: 100%;
			background-color: #E6EAEC;
			position: absolute;
			left: 26px;
			top: 0;
    	}
    	li{
    		margin-bottom: 13px;
    		padding-left: 47px;
    		&:last-child{
				margin-bottom: 0;
    		}
			&:before{
				counter-increment: myCounter;
				content: counter(myCounter) ".";
				position: absolute;
				left: 17px;
			    text-align: center;
			    width: 20px;
			    background: #fff;
			    padding-top: 1px;
			    padding-bottom: 1px;
			    top: -1px;
				color: #8C8E8F;
    		}
    		a{
    			    color: #224e94 !important;
    			text-decoration: none;
    			
    		}
    		span{
    			&.active{
    				color: #000!important;
    			}
    		}
    	}
    }
}


.contents__unit {
    padding-bottom: 150px;
    max-height: calc(100vh - 51px);
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

.contents__title{
	margin-bottom: 12px;
	color: #337ab7;
	font-size: 15px;
	font-weight: 700;
}

.contents__link{
	display: block;
	margin-bottom: 12px;
	text-decoration: none;
	color: #224e94;
}

.level__title{
	color: #000;
	display: block;
	margin-bottom: 12px;
	text-decoration: none;
}
.level-2{
	padding-left: 32px;
	margin-bottom: 20px;
}

.level-3{
	padding-left: 20px;
	margin-bottom: 20px;
}

.game__title{
	padding-top: 20px;
}

.game-top-content{
	.socials{
		margin-bottom: 5px;
	}

}

.game-top-platform{
	margin-bottom: 10px;
	color: #909090;
}

.game-top-date{
	margin-bottom: 10px;
	    color: rgb(48,52,53);
	// span{
	// 	color: #909090;
	// }
}

.gamepage-block{
	position: relative;
    background-color: #ebeef0;
    margin-bottom: 20px;
        padding: 5px 15px;
}

.gamepage-block__item{
	border-bottom: 1px solid #fff;
	padding: 10px 0;
	font-size: 13px;
	&:last-child{
		border-bottom: 0;
	}
	&:after{
		content: "";
		display: table;
		clear:both;
	}
}

.gamepage-block__title{
	font-size: 13px;
	margin-bottom: 4px;
}

.gamepage-block__subtitle{
	font-weight: 500;
}

.gamepage-block__link{
	color: #007FE4;
	font-weight: 500;
	display: block;
	text-decoration: none;
	margin-bottom: 4px;
	&:last-child{
		margin-bottom: 0;
	}
}

.gamepage-block__date-img{
	    height: auto;
    margin-top: 0px;
    margin-right: 4px;
    float: left;
    width: 18px;
}
.gamepage-block__date{
	font-size: 13px;
	padding-top: 4px;
}

.gamepage-block__info-min{
	margin-bottom: 4px;
	font-size: 13px;
	span{
		//font-size: 12px;
	}
	&:last-child{
		margin-bottom: 0;
	}
}

.gamepage-block__tag{
	background-color: #003384;
    text-align: center;
    float: left;
    font-size: 13px;
    color: #fff;
    line-height: 21px;
    height: 21px;
    padding: 0 3px;
    margin: 7px 7px 7px 0;
}

.cookies {
    position: fixed;
    width: 100%;
    padding: 7px 25px 7px 10px;
    background-color: #fff5ba;
    left: 0;
    top: 0;
    z-index: 9;
    font-size: 12px;
    line-height: 1;
    a{
    	color: #017aeb;
    	text-decoration: none;
    }
}

.cookies .btn {
    background: #024a9a;
    background: -webkit-linear-gradient(0deg, #024a9a 0%, #00669e 100%);
    background: -webkit-gradient(linear, left top, right top, from(#024a9a), to(#00669e));
    background: -webkit-linear-gradient(left, #024a9a 0%, #00669e 100%);
    background: linear-gradient(90deg, #024a9a 0%, #00669e 100%);
    display: inline-block;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    color: #fff;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 2px 9px;
    vertical-align: middle;
    text-decoration: none;
    margin-top: 5px;
    height: auto;
    line-height: initial;
}

.cookies__close {
    position: absolute;
    right: 7px;
    top: 10px;
    width: 15px;
    height: 15px;
    background: url(../img/svg/cookies-close.svg) no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
}

.table-game-item{
	display: flex;
	justify-content:space-between;
	margin-bottom: 15px;
	&:last-child{
		margin-bottom: 0;
	}

}

.table-game-item__title{
    font-weight: 500;
    width: 50%;
}

.table-game-item__txt{
	width: 50%;
}

.btn-google{
	background: #4da176;
    background: linear-gradient(90deg, #4da176 0%, #4cbe7b 100%);
    border-radius: 5px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
    transition: all 0.3s ease;
    margin-bottom: 16px;
    margin-right: 12px;
    svg{
		display: inline-block;
		vertical-align: middle;
		position: relative;
		z-index: 3;
		margin-top: -2px;
    }
}

.btn-appstore{
	margin-bottom: 16px;
    margin-right: 12px;
    background: #01172f;
    background: linear-gradient(90deg, #01172f 0%, #001f30 100%);
    border-radius: 5px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
    transition: all 0.3s ease;
    svg{
		display: inline-block;
		vertical-align: middle;
		position: relative;
		z-index: 3;
		margin-top: -2px;
    }
}

.slider-wrapper{
	margin: 0 -11px 20px;
	position: relative;
}

.slider__img{
	height: 180px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.slider__txt{
	padding: 11px 0;
	margin: 0 11px;
	color: #909090;
	font-size: 13px;
	border-bottom: 1px solid #C9C9C9;
}

.slider__txt:empty{
	display: none;
}

.slider__txt:empty{
	display: none;
}

.slider{
	display: none;
	&.slick-initialized{
		display: block;
	}
	.slick-arrow{
		position: absolute;
		top: 70px;
		width: 48px;
		height: 48px;
		border: 0;
		padding: 0;
		display: inline-block;
		text-indent: -9999em;
		z-index: 1;
		&.slick-next{
			right: 15px;
			background: url(../img/svg/arrow_right.svg) no-repeat;
		}
		&.slick-prev{
			left: 15px;
			background: url(../img/svg/arrow_left.svg) no-repeat;
		}
	}
}

.text-author {
    font-size: 15px;
    margin-bottom: 20px;
    padding: 16px 0;
    border-top: 1px solid #d8d8d8;
    border-bottom: 1px solid #d8d8d8;
}


a.article__img,
a.article__link,
a.menu__link{
	transition: opacity 0.3s ease;
	&:hover{
		opacity: 0.5;
	}
}


.text-recommended {
    background-color: #F0F0F0;
    //padding-bottom: 20px;
    margin: 0 -11px -16px;
    .material-count:before {
	    content: "";
	    display: inline-block;
	    background: url(../img/svg/pyblikacii.svg) no-repeat;
	    -webkit-background-size: cover;
	    background-size: cover;
	    width: 15px;
	    height: 18px;
	    position: absolute;
	    left: 0;
	    top: 50%;
	    margin-top: -10px;
	}
}
.text-recommended-image{
	margin-bottom: 10px;
	a{
		display: block;
	}
	img{
		max-width: 100%;
		height: auto;
	}
}
.text-recommended-info{
	padding: 15px 11px 5px 11px;
	.game-date{
		margin-bottom: 10px;
		color: #333;
		span{
			color: #959595;
		}
	}
	.game-platform{
		margin-bottom: 10px;
		color: #333;
		span{
			color: #959595;
		}
	}
}
.text-recommended-title {
    margin-bottom: 10px;
    color: #003384;
    line-height: 16.5px;
    a{
		font-size: 20px;
		text-align: left;
		font-weight: 600;
		color: rgb(0,51,132);
		line-height: 24px;
		text-decoration: none;
    }
}

.pagingInfo {
    position: absolute;
    top: 154px;
    color: #babbbc;
    padding: 5px 12px;
    font-size: 13px;
    background: rgba(0, 0, 0, 0.6);
    left: 50%;
    margin-left: -115px;
    width: 62px;
    white-space: nowrap;
    z-index: 10;
}
.material-slider__link{
	display: inline-block;
    padding: 5px 13px 5px 27px;
    font-size: 13px;
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 154px;
    left: 50%;
    margin-left: -53px;
    z-index: 2;
    color: #fff;
    text-decoration: none;
    &:before{
		content: "";
		width: 12px;
		height: 10px;
		background: url(../img/svg/svg_open_original.svg) no-repeat;
		position: absolute;
		left: 8px;
		top: 50%;
		margin-top: -6px;
    }
}

.gamepage-info{
	padding-bottom: 10px;
}

.gamepage-info__toggle{
	display: block;
	margin-bottom: 30px;
	color: #23527c;
	text-decoration: none;
	margin-top: -20px;
}

.gamepage-info__hidden{
	display: none;
}

@import "components/footer";




@import "components/media";





