<footer class="page-footer">
    <div class="container-fluid">
        <div class="page-footer__wrap">
            <div class="page-footer__menu">
                <a class="page-footer__link" href="#">
                    Контакты </a>
                <a class="page-footer__link" href="#">
                    Пользовательское соглашение </a>
                <a class="page-footer__link" href="#">
                    Политика конфиденциальности </a></div>
            <div class="page-footer__bottom">
                <div class="copyright">&copy;&nbsp;2019</div>
                <div class="page-footer-socials">
                    <a href="https://vk.com/combo__breaker" target="_blank"
                        class="page-footer-socials__item page-footer__vk"></a>
                    <span class="page-footer-socials__item page-footer__18">18+</span></div>
                <div class="page-footer-lang">
                    <a href="#" class="page-footer-lang__view">
                        <i class="page-footer-lang__icon">
                            <img src="img/svg/ru.svg" alt="Русский">
                        </i>
                    </a>
                    <div class="page-footer-lang__list">
                        <a class="page-footer-lang__item" href="#">
                            <i class="page-footer-lang__icon">
                                <img src="img/svg/en.svg" alt="English">
                            </i>
                            English </a></div>
                </div>
            </div>
        </div>
    </div>
</footer>
