<header class="page-header">
    <div class="container-fluid">
        <div class="page-header__wrap">
            <a href="#" class="menu-btn">
                <span class="burger-icon"></span>
            </a>
            <form action="#" method="get" autocomplete="off">
                <input type="text" class="page-search__input" placeholder="Найти игру или статью" id="searchMe">
            </form>
            <div class="top-logo">
                <a href="/" class="top-logo__icon"></a>
                <div class="page-header-lang">
                    <a href="#" class="page-header-lang__view"></a>
                    <div class="page-header-lang__list">
                        <a class="page-header-lang__item" href="#"><i class="page-header-lang__icon"><img src="img/svg/en.svg" alt="English"></i>English</a></div>
                </div>
            </div>
            <div class="page-header-search">
                <a href="#" class="header-search__button">
                    <div class="page-header-search__inner">
                        <div class="page-header-search__icon"></div>
                    </div>
                </a>
                <div class="page-search">
                    <div class="page-search__header">
                        <div class="container-fluid">
                            <div class="page-search__inner"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    include search_result.html
</header>
block contents
