<header class="page-header page-header--cookie">
    include cookies.html
    <div class="container-fluid">
        <div class="page-header__wrap">
            <div class="page-header__inner">
                <a href="#" class="menu-btn">
                    <span class="burger-icon"></span>
                </a>
                <div class="top-logo">
                    <a href="/" class="top-logo__icon"></a>
                </div>
            </div>
            <form action="#" method="get" autocomplete="off">
                <input type="text" class="page-search__input" placeholder="Найти игру или статью" id="searchMe">
            </form>
             <div class="contents-fonts">
                <a href="#" class="contents-fonts__toggle"></a>
                <div class="contents-fonts__list">
                    <div class="contents-fonts__inner">
                        <a href="#" class="contents-fonts__up"></a>
                        <a href="#" class="contents-fonts__down"></a>
                    </div>
                </div>
            </div>
            <div class="page-header-search">
                <a href="#" class="header-search__button">
                    <div class="page-header-search__inner">
                        <div class="page-header-search__icon"></div>
                    </div>
                </a>
                <div class="page-search">
                    <div class="page-search__header">
                        <div class="container-fluid">
                            <div class="page-search__inner"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    include search_result.html
</header>
block contents
