<div class="menu">
    <div class="menu__list">
        <div class="menu__wrap">
            <div class="menu__item">
                <a class="menu__link" href="#">
                    <i class="menu__icon">
                        <img src="img/svg/news.svg" alt="">
                    </i> 
                    Новости
                </a>
            </div>
            <div class="menu__item">
                <a class="menu__link" href="#">
                    <i class="menu__icon">
                        <img src="img/svg/articles.svg" alt="">
                    </i> 
                    Статьи
                </a>
            </div>
            <div class="menu__item">
                <a class="menu__link" href="#">
                    <i class="menu__icon">
                        <img src="img/svg/guides.svg" alt="">
                    </i> 
                    Прохождения
                </a>
            </div>
        </div>
        <div class="menu__wrap">
            <div class="menu__item">
                <div class="menu__title">Игры</div>
                <a class="menu__link" href="#">
                    <i class="menu__icon">
                        <img src="img/svg/popular.svg" alt="">
                    </i> 
                    Популярные
                </a>
            </div>
            <div class="menu__item">
                <a class="menu__link" href="#">
                    <i class="menu__icon">
                        <img src="img/svg/coming_soon.svg" alt="">
                    </i> 
                    Скоро выходят
                </a>
            </div>
            <div class="menu__item">
                <a class="menu__link" href="#">
                    <i class="menu__icon">
                        <img src="img/svg/best_ever.svg" alt="">
                    </i> 
                    Лучшие игры всех времен
                </a>
            </div>
        </div>
        <div class="page-header-lang">
            <a href="#" class="page-header-lang__view">
                <i class="page-header-lang__icon">
                    <img src="img/svg/ru.svg" alt="Русский">
                </i>
                Русский
            </a>
            <div class="page-header-lang__list">
                <a class="page-header-lang__item" href="#">
                    <i class="page-header-lang__icon">
                        <img src="img/svg/en.svg" alt="English">
                    </i>
                    English
                </a>
            </div>
        </div>
        <div class="liked">
            <div class="liked__top">Игры, которые вам понравились</div>
            <div class="liked__item">
                <a href="#" class="liked__link">
                    <div class="liked__icon">
                        <img src="img/content/liked1.jpg" alt="">
                    </div>
                    <div class="liked__info">
                        <div class="liked__title">Hustle Castle</div>
                        <div class="liked__add">Role Playing</div>
                    </div>
                </a>
            </div>
            <div class="liked__item">
                <a href="#" class="liked__link">
                    <div class="liked__icon">
                        <img src="img/content/liked2.jpg" alt="">
                    </div>
                    <div class="liked__info">
                        <div class="liked__title">Left to Survive</div>
                        <div class="liked__add">Zombie Shooter</div>
                    </div>
                </a>
            </div>
            <div class="liked__item">
                <a href="#" class="liked__link">
                    <div class="liked__icon">
                        <img src="img/content/liked3.jpg" alt="">
                    </div>
                    <div class="liked__info">
                        <div class="liked__title">Juggernaut Wars</div>
                        <div class="liked__add">Action Rpg</div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
