<div class="menu">
    <div class="menu__list">
        <div class="menu__item">
            <a class="menu__link active" href="#">
                Все </a></div>
        <div class="menu__item">
            <a class="menu__link" href="#">
                Новости </a></div>
        <div class="menu__item">
            <a class="menu__link" href="#">
                Статьи </a></div>
        <div class="menu__item">
            <a class="menu__link" href="#">
                Прохождения </a></div>
        <div class="menu__item">
            <div class="menu__title">Игры</div>
            <a class="menu__link" href="#">
                Популярные игры </a>
        </div>
        <div class="menu__item">
            <a class="menu__link" href="#">
                Скоро выходят </a></div>
        <div class="menu__item">
            <a class="menu__link" href="#">
                Лучшие игры всех времен </a></div>
    </div>
</div>
