<div class="page-content workarea">
    <div class="container-fluid">
        <div class="material-top">
            <div class="material-top__bg" style="background-image:url(img/content/main.jpg)"></div>
            <h1 class="material-top__title">Прохождение Ведьмак 3: Дикая охота&nbsp;&mdash;Нильфгаардский связной</h1>
        </div>
        <article class="content">
            <div class="article-top__date text-title-date-silver">17 марта 2018, 12:26 <a class="article-top__reviews" href="https://ru.cbreaker.net/vedmak-3-dikaya-oxota-20599/#disqus_thread">5</a></div>
            <div class="text-section-title">Where to find all collectible items and how to unlock all trophies in the third episode of Life is Strange 2</div>
            include ../partials/inner_content.html
            <div class="text-author">
                <a class="text-author-name" href="index.html#/">Игорь Патрин</a>
            </div>
            include ../partials/socials_en.html
            <div class="page-browsing">
                <a class="page-browsing__left" href="https://ru.cbreaker.net/m/vedmak-3-dikaya-oxota-20598/">
                    <span class="page-browsing__top"></span>
                    <div class="page-browsing__title">Аудиенция</div>
                    <div class="page-browsing__date"></div>
                </a>
                <a class="page-browsing__right" href="https://ru.cbreaker.net/m/vedmak-3-dikaya-oxota-20600/">
                    <span class="page-browsing__top"></span>
                    <div class="page-browsing__title">Кровавый барон</div>
                    <div class="page-browsing__date"></div>
                </a>
            </div>
            include ../partials/disqus.html
            <div class="text-recommended">
                <div class="text-recommended-image-wrap">
                    <div class="text-recommended-image">
                        <a href="https://ru.cbreaker.net/m/vedmak-3-dikaya-oxota/">
                            <img src="img/content/main.jpg" alt="image">
                        </a>
                    </div>
                </div>
                <div class="text-recommended-info">
                    <div class="text-recommended-title">
                        <a href="https://ru.cbreaker.net/m/vedmak-3-dikaya-oxota/" class="image">Ведьмак 3: Дикая охота</a>
                    </div>
                    <div class="game-date"><span>Дата выхода:</span>18 мая 2015<div class="material-count">89</div>
                    </div>
                    <div class="game-platform"><span>Платформы</span>Microsoft Windows, PlayStation 4, Xbox One</div>
                </div>
            </div>
        </article>
    </div>
</div>
