<div class="socials">
    <a href="https://facebook.com/sharer/sharer.php?u=https%3A%2F%2Fen.cbreaker.net%2Fm%2F3014-risk-group-games-likely-to-become-epic-games-store-exclusives%2F&amp;title=Risk+Group%3A+Games+Likely+to+Become+Epic+Games+Store+Exclusives&amp;description=In+these+strange+times+when+no+one+can+be+trusted%2C+we+looked+closely+at+upcoming+PC+titles+and+selected+a+few+that+seem+suspicious+enough+to+come+to+the+%E2%80%98%E2%80%99epic%E2%80%99%E2%80%99+side%0A"
        class="socials__item socials__item--fb" rel="nofollow">
        <i>
            <img src="img/svg/socials/fb.svg" alt="">
        </i>
        <span>Share</span>
        <span class="count dnone"></span>
    </a>
    <a href="#" class="socials__item socials__item--twi" rel="nofollow">
        <i><img src="img/svg/socials/twi.svg" alt=""></i>
        <span>Tweet</span>
    </a>
    <a href="#" class="socials__item socials__item--reddit js-ripple" rel="nofollow">
        <i>
            <img src="img/svg/socials/reddit.svg" alt="">
        </i>
        <span>Share</span>
    </a>
    <a href="https://t.me/share/url?url=https%3A%2F%2Fen.cbreaker.net%2Fm%2F3014-risk-group-games-likely-to-become-epic-games-store-exclusives%2F"
        class="socials__item socials__item--tw" target="_blank" rel="nofollow">
        <i>
            <img src="img/svg/socials/tw.svg" alt="">
        </i>
    </a></div>
