.page-footer{
	background: rgb(43, 48, 51);
	background: -moz-linear-gradient(0deg, rgb(43, 48, 51) 0%, rgb(42, 52, 51) 100%);
	background: -webkit-linear-gradient(0deg, rgb(43, 48, 51) 0%, rgb(42, 52, 51) 100%);
	background: -o-linear-gradient(0deg, rgb(43, 48, 51) 0%, rgb(42, 52, 51) 100%);
	background: -ms-linear-gradient(0deg, rgb(43, 48, 51) 0%, rgb(42, 52, 51) 100%);
	background: linear-gradient(90deg, rgb(43, 48, 51) 0%, rgb(42, 52, 51) 100%);
	font-size: 13px;
	color: #fff;
	padding: 17px 0;
	font-family: 'Lato', sans-serif;
}

.bottom-logo{
	display: inline-block;
	width: 135px;
	height: 42px;
	background: url(../img/svg/bottom_logo.svg) center no-repeat;
}
.bottom-logo-wrap{
	text-align: center;
	margin-bottom: 12px;
}

.page-footer__wrap{
	&:after{
		content: "";
		display: table;
		clear: both;
	}
}

.page-footer__18{
    width: 34px;
    height: 34px;
    line-height: 29px;
    text-align: center;
    color: #fff;
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
    border: 2px solid #00669e;
    border-radius: 50%;
}

.page-footer__vk {
    display: inline-block;
    vertical-align: middle;
    width: 34px;
    height: 34px;
    background: transparent url(../img/svg/vk.svg) center no-repeat;
    background-size: 18px 10px;
    transition: all .3s ease;
    border: 2px solid #00669e;
    border-radius: 50%;
    margin-right: 15px;
    &:hover{
    	background: #00669e url(../img/svg/vk.svg) center no-repeat;
    	background-size: 18px 10px;
    }
}

.page-footer__menu{
    display: block;
    max-width: 595px;
    text-align: center;
}
.page-footer__link{
    color: #fff;
    margin-right: 24px;
    text-decoration: none;
    position: relative;
	&:hover{
		color: #BFC1C2;
	}
    &:not(:first-child):before {
        content: "";
        width: 5px;
        height: 5px;
        position: absolute;
        top: 7px;
        left: -15px;
        border-radius: 50%;
        background: #007FE4;
    }
}

.page-footer-socials {
    overflow: hidden;
    text-align: center;
    clear: both;
}

.page-footer-socials__item{
    margin-right: 30px;
    &:last-child{
        margin-right: 0;
    }
}

.page-footer__bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 31px;
}

.copyright{
   
}

.page-footer-lang{
    position: relative;
    padding-right: 10px;
    &:after {
        content: "";
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 5px 3px 0 3px;
        border-color: #fff transparent transparent transparent;
        position: absolute;
        right: 0;
        top: 9px;
    }
}

.page-footer-lang__icon {
    width: 24px;
    height: 24px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    border: 1px solid #AFBCC5;
    border-radius: 50%;
    overflow: hidden; 
}

.page-footer-lang__list {
    position: absolute;
    bottom: 100%;
    background: #fff;
    border: 1px solid #DADADA;
    right: 0;
    margin-bottom: 9px;
    display: none;
    padding: 4px 0;
    border-radius: 3px;
}

.page-footer-lang__item {
    display: block;
    background: #fff;
    color: #003384;
    text-decoration: none;
    text-align: left;
    margin: 0 1px;
    padding: 5px 12px 5px 11px;
    position: relative;
    z-index: 3;
    white-space: nowrap;
    font-size: 15px;
    &:after {
        content: "";
        width: 10px;
        height: 10px;
        border: 1px solid #DADADA;
        position: absolute;
        bottom: -9px;
        transform: rotate(45deg);
        margin-left: -18px;
        border-left: 0;
        border-top: 0;
        background: #fff;
    }
}