

/*FONT-FAMILY*/
$default-font: "Rubik", Arial, sans-serif;

/*FONT-SIZE*/
$default-size-font: 14px;

/*BACKGROUND*/
$default-site-color: #F0F0F0;

$default-bg: #ff0109;

/*TEXT-COLOR*/
$base-color: #303435;

$alternate-color: #ff0109;
