<div class="page-content workarea">
    <div class="container-fluid">
        <article class="content" style="padding-top: 40px">
            <div class="article-top">
                <a class="article__label blue-scqeme" href="https://ru.cbreaker.net/m/news/">Новость</a>
                <div class="article-top__info">
                    <div class="article-top__author">Дмитрий Рудь</div>
                    <div class="article-top__wrap">
                        <div class="article-top__date">23 мая 2019, 22:14</div>
                        <a class="article-top__reviews">12</a>
                    </div>
                </div>
            </div>
            <h1 class="h1-article-title">Тираж Dead Cells достиг 2 млн копий</h1>
            <div class="text-section-title">Дополнение Rise of the Giant стало доступно на PS4 и Switch</div>
            <hr>
            include ../partials/inner_content.html
            include ../partials/socials_ru.html
            <div class="page-browsing">
                <a class="page-browsing__left" href="https://ru.cbreaker.net/m/3037-27-maya-iz-gog-propadut-igry-telltale-games/">
                    <span class="page-browsing__top"></span>
                    <div class="page-browsing__title">27 мая из GOG пропадут игры Telltale Games</div>
                    <div class="page-browsing__date">23 мая 2019, 22:04</div>
                </a>
            </div>
            <div class="article-items">
                <div class="article-items__title">
                    <h2>Новости</h2>
                </div>
                <a class="article__items__link" href="https://ru.cbreaker.net/m/3007-epic-games-sluchajno-otpravila-lichnye-dannye-polzovatelya-drugomu-cheloveku/">
                    <h3>Epic Games случайно отправила личные данные пользователя другому человеку</h3>
                    <div class="page-browsing__date">22 мая 2019, 18:17</div>
                </a>
                <a class="article__items__link" href="https://ru.cbreaker.net/m/3012-novaya-versiya-gog-galaxy-obedinit-igry-iz-drugix-launcherov-v-edinuyu-biblioteku/">
                    <h3>Новая версия GOG Galaxy объединит игры из других лаунчеров в единую библиотеку</h3>
                    <div class="page-browsing__date">22 мая 2019, 23:02</div>
                </a>
                <a class="article__items__link" href="https://ru.cbreaker.net/m/2998-mod-dlya-yakuza-kiwami-2-razdevaet-xostes-devushek/">
                    <h3>Мод для Yakuza Kiwami 2 раздевает хостес-девушек</h3>
                    <div class="page-browsing__date">22 мая 2019, 17:06</div>
                </a>
            </div>
            <div class="article-items">
                <div class="article-items__title">
                    <h2>Статьи</h2>
                </div>
                <a class="article__items__link" href="https://ru.cbreaker.net/m/2994-sankczii-ssha-protiv-huawei---chem-eto-grozit-ryadovym-polzovatelyam-i-samoj-kompanii/">
                    <h3>Санкции США против Huawei &nbsp;&mdash;чем это грозит рядовым пользователям и самой компании </h3>
                    <div class="page-browsing__date">22 мая 2019, 16:24</div>
                </a>
                <a class="article__items__link" href="https://ru.cbreaker.net/m/2965-dolg---eto-smert-lyubvi-11-vazhnyx-detalej-poslednego-epizoda-igry-prestolov/">
                    <h3>«Долг&nbsp;&mdash;это смерть любви». 11 важных деталей последнего эпизода «Игры престолов»</h3>
                    <div class="page-browsing__date">21 мая 2019, 17:10</div>
                </a>
                <a class="article__items__link" href="https://ru.cbreaker.net/m/2974-memy-alternativnye-konczovki-i-gifki-kak-internet-otreagiroval-na-final-igry-prestolov/">
                    <h3>Мемы, альтернативные концовки и гифки: как интернет отреагировал на финал «Игры престолов»</h3>
                    <div class="page-browsing__date">21 мая 2019, 13:56</div>
                </a>
            </div>
            <div class="article-items">
                <div class="article-items__title">
                    <h2>Прохождения</h2>
                </div>
                <a class="article__items__link" href="https://ru.cbreaker.net/m/conquerors-blade-24599/">
                    <h3>Знакомство с Conqueror &#039;s Blade: обзор базовых механик</h3>
                    <div class="page-browsing__date">6 мая 2019, 18:20</div>
                </a>
                <a class="article__items__link" href="https://ru.cbreaker.net/m/elder-scrolls-blades-the-24664/">
                    <h3>Слабые и сильные стороны противников The Elder Scrolls: Blades</h3>
                    <div class="page-browsing__date">7 мая 2019, 08:46</div>
                </a>
                <a class="article__items__link" href="https://ru.cbreaker.net/m/close-to-the-sun-24678/">
                    <h3>Прохождение Close to the Sun</h3>
                    <div class="page-browsing__date">3 мая 2019, 14:53</div>
                </a>
            </div>
            include ../partials/disqus.html
        </article>
    </div>
</div>
